/* frontend/src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background: #853892;
  text-align: center;
  padding: 20px;
}

.main-container {
  width: 60%;
  margin: auto;
  background: hsl(240, 6%, 94%);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #5a189a;
  margin-bottom: 20px;
}

h2 {
  color: #7b2cbf;
}

.add-student-btn {
  padding: 12px;
  background: #9d4edd;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px 0; 
}

.add-student-btn:hover {
  background: #7b2cbf;
}

.form-container {
  background: #e0b3ff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.student-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  padding: 12px;
  background: #7b2cbf;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background: #5a189a;
}

.student-list-container {
  background: #e0b3ff;
  padding: 20px;
  border-radius: 10px;
}

.student-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.student-item {
  display: flex;
  justify-content: space-between;
  background: #f3e8ff;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.edit-btn {
  background: #9d4edd;
  padding: 6px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.edit-btn:hover {
  background: #7b2cbf;
}

.delete-btn {
  background: #c9184a;
  padding: 6px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover {
  background: #a4133c;
}
